.h5p-digibook-chapter {
  max-width: 1058px;
  transition: .25s;
  width: 100%;
  z-index: -1;
}

.h5p-digibook-content {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  transition: 1s;
  width: 100%;

  &.hidden {
    display: none;
  }

  .h5p-column-content {
    // Workaround for Android to prevent font boosting
    max-height: 9999999px;

    &:first-child {
      margin-top: 0;

      &> p {
        margin-top: 0;
      }
    }
  }
}


.h5p-digibook-animate-new {
  position: absolute;
  top: 0;
}

.h5p-digibook-offset-left {
  transform: translate(-100%);
}

.h5p-digibook-offset-right {
  opacity: 0;
  transform: translate(100%);
  transition: visibility 0s, opacity .5s linear;
}

.h5p-digibook-status-progress-marker {
  align-items: center;
  border-top: 1px solid $cool-grey;
  display: flex;
  padding: 1em 0 0 1em;

  input {
    &[type='checkbox'] {
      transform: scale(1.75);
    }
  }

  p {
    color: $mud;
    font-weight: bold;
    margin: 0;
    padding-left: 1em;
  }
}

.h5p-content-hidden {
  display: none;
}
