.h5p-digibook-chapter {
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(0);
  transition: .25s;
  width: 100%;
  z-index: -1;

  &.h5p-digibook-previous {
    transform: translateX(-100%);
  }

  &.h5p-digibook-current {
    display: block;
    transform: translateX(0);
  }

  &.h5p-digibook-next {
    transform: translateX(100%);
  }

  > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1058px;
  }
}

.h5p-digibook-animate {
  display: block;
  transition: transform .25s ease-in-out;
}

.h5p-digibook-content {
  margin: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.hidden {
    display: none;
  }

  .h5p-column-content {
    // Workaround for Android to prevent font boosting
    max-height: 9999999px;

    &:first-child {
      margin-top: 0;

      &> p {
        margin-top: 0;
      }
    }
  }
}

.h5p-digibook-status-progress-marker {
  align-items: center;
  border-top: 1px solid $cool-grey;
  display: flex;
  padding: 1em 0 0 1em;

  input {
    &[type='checkbox'] {
      transform: scale(1.75);
    }
  }

  p {
    color: $mud;
    font-weight: bold;
    margin: 0;
    padding-left: 1em;
  }
}

.h5p-content-hidden {
  display: none;
}
