
$background-color: #fff;
$base-color: #1a73d9;
$base-color-10: rgba($base-color, .1);
$base-color-20: rgba($base-color, .2);
$base-color-50: rgba($base-color, .5);
$base-color-90: rgba($base-color, .9);
$base-color-95: rgba($base-color, .95);
$black-20: rgba(0, 0, 0, .2);
$cool-grey: #eee;
$dark-grey-20: rgba(166, 166, 166, .2);
$ghost-white: #e9e4ed;
$light-grey: #bebebe;
$medium-grey: #363636;
$mud: #4c4452;

.h5p-digibook {
  .h5p-scrollable-fullscreen {
    overflow-y: auto;
  }

  .h5p-fullscreen {
    background-color: $background-color;
  }
}

.h5p-digibook-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.h5p-content-hidden {
  .digibook-cover-present {
    display: none;
  }
}

.h5p-fullscreen {
  .h5p-digibook {
    display: flex;
    flex-direction: column;
  }

  .h5p-digibook-main {
    flex: 1;
    overflow: auto;

    .h5p-digibook-content {
      overflow: auto;
    }
  }

  .h5p-digibook-status-footer {
    display: none;
  }

  .h5p-digibook-navigation {
    display: flex;
    flex-direction: column;

    .navigation-list {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

@import 'pagecontent';
@import 'statusbar';
@import 'navigationbar';
@import 'cover';
